@import url('https://fonts.googleapis.com/css?family=Lobster');



#carousel {
    position: relative;
    height: 400px;
    width: 930px;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
}

.arrow {
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 85px;
    z-index: 1000;
}

.arrow-right {
    left: 1110px;
}

.citem {
    text-align: center;
    color: white;
    font-size: 10px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

.citem:hover{
    cursor: pointer;
    box-shadow: .01rem .01rem .3rem .01rem black;
}

$level2-height: 230px;
$level2-width: 130px;
$level1-height: 250px;
$level1-width: 150px;
$level0-height: 270px;
$level0-width: 170px;

$level-2-left: 900px;
$level-1-left: 692px;
$level0-left: 457px;
$level1-left: 240px;
$level2-left: 50px;


.level-2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color:   black;
    left: $level-2-left;
    margin-top: 15px;
    border-radius: 3%;
}

.level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color:  black;
    left: $level-1-left;
    margin-top: 10px;
    border-radius: 3%;
}

.level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color:  black;
    left: $level0-left;
    border-radius: 3%;
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color:  black;
    margin-top: 10px;
    left: $level1-left;
    border-radius: 3%;
}

.level2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color:  black;
    margin-top: 15px;
    left: $level2-left;
    border-radius: 3%;
}

.left-enter {
    opacity: 0;
    left: $level2-left - $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 30px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: $level2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 15px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 15px;
}

.left-leave.left-leave-active {
    left: $level-2-left + $level2-width + 20;
    opacity: 0;
    height: $level2-height - 30;
    line-height: 120px;
    margin-top: 30px;
    width: $level2-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: $level-2-left + $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 30px;
}

.right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;
    margin-top: 15px;
    line-height: $level2-height;
    width: $level2-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    margin-top: 15px;
    line-height: $level2-height;
    width: $level2-width;
}

.right-leave.right-leave-active {
    left: $level2-left - $level2-width;
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 30px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;  
            user-select: none;
}